<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="OlhaChe_Offers::offers" title="offers" sortOrder="10">
					<resource id="OlhaChe_Offers::offers_save" title="Save offers" sortOrder="10"/>
					<resource id="OlhaChe_Offers::offers_delete" title="Delete offers" sortOrder="20"/>
					<resource id="OlhaChe_Offers::offers_update" title="Update offers" sortOrder="30"/>
					<resource id="OlhaChe_Offers::offers_view" title="View offers" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
