<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="OlhaChe\Offers\Api\OffersRepositoryInterface" type="OlhaChe\Offers\Model\OffersRepository"/>
	<preference for="OlhaChe\Offers\Api\Data\OffersInterface" type="OlhaChe\Offers\Model\Offers"/>
	<preference for="OlhaChe\Offers\Api\Data\OffersSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="OlhaChe\Offers\Model\ResourceModel\Offers\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">olhache_offers_offers</argument>
			<argument name="resourceModel" xsi:type="string">OlhaChe\Offers\Model\ResourceModel\Offers\Collection</argument>
		</arguments>
	</virtualType>
    <virtualType name="OlhaChe\Offers\Model\ImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">\OlhaChe\Offers\Model\ImageProcessor::MEDIA_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">\OlhaChe\Offers\Model\ImageProcessor::MEDIA_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="OlhaChe\Offers\Model\ImageProcessor">
        <arguments>
            <argument name="imageUploader" xsi:type="object">OlhaChe\Offers\Model\ImageUploader</argument>
        </arguments>
    </type>
    <type name="OlhaChe\Offers\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">OlhaChe\Offers\Model\ImageUploader</argument>
        </arguments>
    </type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="olhache_offers_offers_listing_data_source" xsi:type="string">OlhaChe\Offers\Model\ResourceModel\Offers\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
